Repository ridwanalfarezi/galacash-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "app/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "app/**/*.{css,scss}": ["prettier --write"],
  "app/**/*.{json,md}": ["prettier --write"],
  "*.{json,md,css}": ["prettier --write"]
}

fix(frontend): remove unused @ts-expect-error directives
  app/components/ui/badge.tsx
  app/components/ui/breadcrumb.tsx
  app/components/ui/button.tsx
  app/components/ui/sidebar.tsx
Due: eslint --fix, prettier --write

docs: update README to reflect Bun migration
  README.md
Due: prettier --write

refactor: enforce naming conventions (PascalCase components, camelCase utils)
  app/components/chart/FinancialPieChart.tsx
  app/components/icons/Alert.tsx
  app/components/icons/ArrowDownCircle.tsx
  app/components/icons/ArrowUpCircle.tsx
  app/components/icons/Bank.tsx
  app/components/icons/Check.tsx
  app/components/icons/CloseSidebar.tsx
  app/components/icons/Export.tsx
  app/components/icons/Eye.tsx
  app/components/icons/EyeOff.tsx
  app/components/icons/Home.tsx
  app/components/icons/LowIncomeLevel.tsx
  app/components/icons/Money.tsx
  app/components/icons/MoneyTotal.tsx
  app/components/icons/Notebook.tsx
  app/components/icons/Plus.tsx
  app/components/icons/Settings.tsx
  app/components/icons/SignOut.tsx
  app/components/icons/Sort.tsx
  app/components/icons/TagihanKas.tsx
  app/components/icons/Wallet.tsx
  app/components/icons/X.tsx
  app/components/icons/index.ts
  app/components/shared/FilterComponent.tsx
  app/components/shared/Skeletons.tsx
  app/components/shared/SortDropdown.tsx
  app/components/shared/layout/BottomBar.tsx
  app/components/shared/layout/Layout.tsx
  app/components/shared/layout/Sidebar.tsx
  app/components/ui/date-picker.tsx
  app/components/ui/sidebar.tsx
  app/hooks/useMobile.ts
  app/lib/services/bendahara.service.ts
  app/lib/services/cash-bill.service.ts
  app/lib/services/fund-application.service.ts
  app/lib/services/transaction.service.ts
  app/lib/utils/apiHelper.ts
  app/pages/auth/sign-in.tsx
  app/pages/bendahara/kas-kelas.tsx
  app/pages/user/kas-kelas.tsx
Due: eslint --fix, prettier --write

fix: update routes config to match renamed Layout component and add documentation
  agent.md
  app/routes.ts
  context.md
  skills.md
Due: eslint --fix, prettier --write

refactor: make DEFAULT_DASHBOARD_START_DATE use dynamic year
  app/lib/constants.ts
Due: eslint --fix, prettier --write

fix: resolve React 19/Radix UI ref incompatibility in UI components
  app/components/ui/badge.tsx
  app/components/ui/breadcrumb.tsx
  app/components/ui/button.tsx
  app/components/ui/sidebar.tsx
Due: eslint --fix, prettier --write

feat: lazy-load Sonner Toaster to prevent SSR errors in E2E tests
  AGENTS.md
  CONTEXT.md
  SKILLS.md
  app/components/Toaster.tsx
  app/root.tsx
Due: eslint --fix, prettier --write

fix: resolve lint warnings and fix E2E tests by using production build
  app/components/ui/badge.tsx
  app/components/ui/breadcrumb.tsx
  app/components/ui/button.tsx
  app/components/ui/sidebar.tsx
  playwright.config.ts
Due: eslint --fix, prettier --write

fix(dashboard): change default start date to Sep 05 2025
  app/lib/constants.ts
  app/pages/bendahara/dashboard.tsx
Due: eslint --fix, prettier --write

refactor: move AI documentation files to .ai directory
  .ai/AGENTS.md
  .ai/CONTEXT.md
  .ai/SKILLS.md
Due: prettier --write

chore: replace env files with example versions for public repo
  .env.development.example
  .env.production.example
  .gitignore
Due: none

refactor: apply CodeRabbit review fixes
  app/components/chart/FinancialPieChart.tsx
Due: eslint --fix, prettier --write

Update app/pages/user/dashboard.tsx
  app/pages/user/dashboard.tsx
Due: eslint --fix, prettier --write

refactor: use Object.hasOwn for safer category lookup and fix bun:test imports
  app/components/chart/FinancialPieChart.test.tsx
  app/components/modals/DetailTransaksi.tsx
  app/components/shared/SortDropdown.test.ts
  app/lib/constants.test.ts
  app/lib/utils.test.ts
  eslint.config.mjs
Due: eslint --fix, prettier --write

refactor: consolidate duplicate page components into shared base components
  app/components/shared/aju-dana/AjuDanaBase.tsx
  app/components/shared/kas-kelas/KasKelasBase.tsx
  app/pages/bendahara/aju-dana.tsx
  app/pages/bendahara/kas-kelas.tsx
  app/pages/user/aju-dana.tsx
  app/pages/user/kas-kelas.tsx
  app/types/domain.ts
Due: eslint --fix, prettier --write

refactor: improve type safety and complete Phase 3
  .eslintrc.json
  .prettierrc
  CONTRIBUTING.md
  app/lib/services/bendahara.service.ts
  app/lib/utils/apiHelper.ts
  app/pages/bendahara/rekap-kas.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: make dashboard start date dynamic
  app/lib/constants.ts
Due: eslint --fix, prettier --write

test: add E2E tests and improve test quality (Phase 5)
  playwright.config.ts
  tests/e2e/auth.spec.ts
  tests/e2e/bill-payment.spec.ts
  tests/e2e/manual-transaction.spec.ts
  tests/e2e/mobile/responsive.spec.ts
  tests/e2e/user/dashboard.spec.ts
Due: none

perf: implement Phase 6 query optimization and polish
  app/components/shared/RouteErrorBoundary.tsx
  app/components/shared/aju-dana/AjuDanaBase.tsx
  app/components/shared/kas-kelas/KasKelasBase.tsx
  app/components/shared/layout/Sidebar.tsx
  app/lib/queries/bendahara.queries.ts
  app/lib/queries/cash-bill.queries.ts
  app/lib/queries/keys.ts
  app/lib/queries/user.queries.ts
Due: eslint --fix, prettier --write

fix: correct E2E test routes and API mock endpoints
  playwright.config.ts
  tests/e2e/auth.spec.ts
  tests/e2e/mobile/responsive.spec.ts
  tests/e2e/user/dashboard.spec.ts
Due: none

docs: fix .ai folder — Axios→FetchClient, E2E test guidance, error boundary
  .ai/AGENTS.md
  .ai/CONTEXT.md
  .ai/SKILLS.md
Due: prettier --write

fix: resolve E2E test visibility failures on mobile/CI viewports
  tests/e2e/bill-payment.spec.ts
  tests/e2e/financial-recap.spec.ts
  tests/e2e/fund-application.spec.ts
  tests/e2e/user/dashboard.spec.ts
Due: none

fix: resolve last 4 E2E failures — dashboard containsText, skip mobile bill test
  tests/e2e/bill-payment.spec.ts
  tests/e2e/user/dashboard.spec.ts
Due: none

refactor: optimize skeleton arrays - remove useMemo overhead
  app/components/data-display/Skeletons.tsx
Due: eslint --fix, prettier --write

refactor: optimize codebase for 100/100 react-doctor score
  app/components/chart/FinancialPieChart.tsx
  app/components/chart/FinancialPieChartBase.tsx
  app/components/data-display/Skeletons.tsx
  app/components/data-display/TransactionItem.tsx
  app/components/modals/DetailAjuDana.tsx
  app/components/modals/DetailAjuDanaBendahara.tsx
  app/components/modals/DetailTransaksi.tsx
  app/components/shared/FilterComponent.tsx
  app/components/shared/PaginationControls.tsx
  app/components/shared/data-table/DataTable.tsx
  app/components/ui/chart-context.tsx
  app/components/ui/chart-impl.tsx
  app/components/ui/chart.tsx
  app/components/ui/dialog.tsx
  app/components/ui/pagination.tsx
  app/components/ui/slider.tsx
  app/pages/bendahara/dashboard.tsx
  app/pages/shared/settings.tsx
  app/pages/user/dashboard.tsx
  app/root.tsx
Due: eslint --fix, prettier --write

fix: wrap FinancialPieChart with React.memo to pass memoization test
  app/components/chart/FinancialPieChart.tsx
Due: eslint --fix, prettier --write

Install Vercel Web Analytics
  app/root.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat(ui): integrate batch payment modal and overhaul selection UX
  app/components/dashboard/TagihanCard.tsx
  app/components/modals/BatchPaymentBar.tsx
  app/components/modals/BatchPaymentModal.tsx
  app/components/ui/checkbox.tsx
  app/lib/queries/cash-bill.queries.ts
  app/lib/services/cash-bill.service.ts
  app/pages/user/dashboard.tsx
  app/pages/user/tagihan-kas.tsx
Due: eslint --fix, prettier --write

feat: implement cash bill service and batch payment functionality on dashboard
  app/components/modals/BatchPaymentModal.tsx
  app/lib/services/cash-bill.service.ts
  app/pages/user/dashboard.tsx
  bun.lock
Due: eslint --fix, prettier --write

refactor: optimize ChartContainerImpl memoization and TagihanKasContent data handling
  app/components/ui/chart-impl.tsx
  app/lib/constants.ts
  app/lib/utils.ts
  app/pages/bendahara/dashboard.tsx
  app/pages/user/tagihan-kas.tsx
Due: eslint --fix, prettier --write

fix: adjust min-height in ChartContainerImpl for better responsiveness
  app/components/ui/chart-impl.tsx
Due: eslint --fix, prettier --write

refactor: remove baseUrl from tsconfig.json for cleaner configuration
  tsconfig.json
Due: prettier --write

refactor(routes): merge pages/ into route files, remove lazy loading
  README.md
  app/components/shared/SettingsPage.tsx
  app/pages/auth/sign-in.tsx
  app/pages/bendahara/aju-dana.tsx
  app/pages/bendahara/dashboard.tsx
  app/pages/bendahara/detail-rekap-kas.tsx
  app/pages/bendahara/kas-kelas.tsx
  app/pages/bendahara/rekap-kas.tsx
  app/pages/user/aju-dana.tsx
  app/pages/user/dashboard.tsx
  app/pages/user/kas-kelas.tsx
  app/pages/user/tagihan-kas.tsx
  app/routes/auth/sign-in.tsx
  app/routes/bendahara/aju-dana.tsx
  app/routes/bendahara/dashboard.tsx
  app/routes/bendahara/detail-rekap-kas.tsx
  app/routes/bendahara/kas-kelas.tsx
  app/routes/bendahara/rekap-kas.tsx
  app/routes/bendahara/settings.tsx
  app/routes/user/aju-dana.tsx
  app/routes/user/dashboard.tsx
  app/routes/user/kas-kelas.tsx
  app/routes/user/settings.tsx
  app/routes/user/tagihan-kas.tsx
Due: eslint --fix, prettier --write

fix(cache): resolve client-side caching, state leaks, and cross-tab sync vulnerabilities
  app/components/modals/BuatAjuDana.tsx
  app/lib/auth.ts
  app/lib/queries/bendahara.queries.ts
  app/lib/queries/cash-bill.queries.ts
  app/lib/queries/dashboard.queries.ts
  app/lib/queries/fund-application.queries.ts
  app/lib/queries/query-broadcast.ts
  app/lib/queries/transaction.queries.ts
  app/lib/queries/user.queries.ts
  app/lib/query-client.ts
  app/routes/auth/sign-in.tsx
Due: eslint --fix, prettier --write

chore: refresh agent memory and remove stale artifacts
  .ai/AGENTS.md
  .ai/CONTEXT.md
  .ai/DECISIONS.md
  .ai/README.md
  .ai/SKILLS.md
  AGENTS.md
  README.md
  package-lock.json
Due: prettier --write

test: modernize frontend coverage and workflows
  .ai/AGENTS.md
  .ai/CONTEXT.md
  .ai/DECISIONS.md
  .ai/README.md
  .ai/SKILLS.md
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  app/components/modals/DetailTagihanKasBendahara.tsx
  app/lib/api/fetch-client.test.ts
  app/lib/api/fetch-client.ts
  app/lib/auth.test.ts
  app/lib/queries/cash-bill.queries.test.ts
  app/lib/queries/cash-bill.queries.ts
  app/lib/queries/query-broadcast.test.ts
  app/lib/services/bendahara.service.ts
  app/lib/utils/apiHelper.test.ts
  app/types/api.d.ts
  bun.lock
  package.json
  tests/e2e/auth.spec.ts
  tests/e2e/bill-payment.spec.ts
  tests/e2e/mocks/data.ts
  tests/e2e/monthly-bill.spec.ts
  tests/e2e/utils/api-mock.ts
Due: eslint --fix, prettier --write

chore: point frontend to Vercel backend
  .env.example
  .gitignore
  README.md
  server.ts
  vercel.json
  vite.config.ts
Due: prettier --write

feat: route previews to isolated backend
  README.md
  vercel.json
  vercel.ts
Due: prettier --write

fix: resolve preview backend at deploy time
  bun.lock
  package.json
  vercel.ts
Due: prettier --write
